.loopex__popup-container {
    @include position($position: fixed, $top: 0, $left: 0);
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8); 
    @include hidden;
    z-index: 1000;
    transition: all 0.3s;

    &.active {
        @include show;
    }

    &.active .loopex__popup{
        top: 50%;
    }

    .loopex__popup {
        @include position($top: 70%, $left: 50%);
        transform: translate(-50%, -50%);
        width: 480px;
        border-radius: 4px;
        padding: 15px 20px;
        z-index: 10005;
        background-color: $popups-bg;
        transition: all 0.3s;

        &-close {
            @include position($top: 0px, $right: 0px);
            width: 40px;
            height: 40px;
            cursor: pointer;

            &:hover span{
                color: #fff;
            }

            span {
                color: #888f93;
                font-size: 35px;
                text-shadow: none;
                font-weight: 300;
                position: absolute;
                left: 50%;
                top: 50%;
                border: 0;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
        }

        &-title {
            color: #3a8980;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
        }

        .loopex__form-group {
            .referal__code-label {
                color: #3a8980;
                cursor: pointer;
                font-size: 14px;
                transition: all 0.5s;

                &:hover {
                    color: $loopex-green-hover;
                }
            }

            .referalcode {
                margin-top: 8px;
                display: none;

                &.active {
                    display: block !important;
                }
            }
        }

        .popup__p  {
            color: $loopex-gray;
        }
    }

    .popup__middle {
        display: flex;
        justify-content: center;
        padding: 20px 30px;
    }
}





// register popup
.register__popup {
    .loopex__popup-form {
        margin-top: 23px;

        .form__btn {
            margin: 20px 0 10px 0;
        }
    }
}


// reset pass popup
.reset__popup {
    .loopex__popup-form {
        margin-top: 23px;
        
        .form__btn {
            margin: 0px 0 20px 0;
        }
    }
}



// 2fa popup
.fa__popup {
    .loopex__popup {
        width: 530px;
    }

    .popup__p {
        margin-top: 20px;
        margin-bottom: 5px;
        line-height: 1.4;
    }

    .fa__code {
        color: $loopex-green;
        font-size: 23px;
        text-align: center;
        margin-bottom: 5px;
    }

    .generated__code {
        .popup__p {
            margin-top: 0;
        }
    }

    .fa__popup__bottom {
        margin: 20px;
    }
}




// deposit popup
.deposit__popup {
    .deposit__title {
        margin: 10px 0;
    }

    .deposit__p {
        margin-top: 30px;
        color: $loopex-gray;
        font-size: 25px;
        text-align: center;
    }

    .fa__popup__bottom {
        margin-top: 30px;
    }

    .fa__popup__bottom {
        .loopex__form-group {
            display: flex;
            align-items: center;
        }

        .copy__icon {
            margin-left: 5px;
            font-size: 32px;
        }

        input {
            cursor: auto;
        }

        .deposit__bottom-p {
            color: $loopex-gray;
            font-size: 14px;
            margin-top: 5px;
            line-height: 1.1;
            text-align: justify;
        }
    }
}



// withdrawal popup
.withdrawal__popup {
    
    .loopex__popup {
        padding: 32px 50px 0px 50px;
    }

    .deposit__title {
        margin-bottom: 30px;
    }
    
    .withdrawal__label {
        color: $loopex-gray;
        font-size: 13px;
    }

    .deposit__bottom-p {
        color: #cacaca;
        text-align: justify;
        margin-bottom: 10px;
    }

    .loopex__form-group {
        .loopex__input {
            margin-top: 8px;
        }
    }

    .loopex__form-group:nth-child(2){
        margin-top: 25px;
    }

    .form__btn {
        margin-top: 25px;
        margin-bottom: 40px;

        .withdrawal__disable__green {
            margin-top: 8px;
        }

        .withdrawal__label-right {
            float: right;
        }

        &::after {
            content: '';
            clear: right;
            display: block;
        }
    }
}