@font-face {
    font-family: 'ubuntu_allfont_ru';
    src: url('./ubuntu/ubuntu_allfont_ru.eot');
    src: url('./ubuntu/ubuntu_allfont_ru.eot') format("embedded-opentype"), 
         url('./ubuntu/ubuntu_allfont_ru.woff2') format("woff2"), 
         url('./ubuntu/ubuntu_allfont_ru.woff') format("woff"), 
         url('./ubuntu/ubuntu_allfont_ru.ttf') format("truetype"), 
         url('./ubuntu/ubuntu_allfont_ru.svg#ubuntu_allfont_ru') format("svg");
    font-style: normal;
  }