.marketplace {
    padding: 100px 0;

    &__head {
        @include flex($justify: space-between, $align: center);
        position: relative;

        &-ul {
            display: flex;
            align-items: center;
            border: 1px solid $input-border;
            border-bottom: 0;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;

            .marketplace__li {
                border-right: 1px solid $input-border;
                height: 100%;
                color: $loopex-gray;
                padding: 8px 0;
                @include flex($justify: center, $align: center);
                width: 200px;
                font-size: 23px;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -3px;
                    height: 7px;
                    background: #122028;
                    display: none;
                }

                &.active::after {
                    display: block;
                }

                &.active {
                    border-bottom: 0;
                }

                .icon-star {
                    color: #fff;
                    font-size: 15px;
                    margin-right: 12px;
                }

                &:last-child{
                    border-right: 0;
                }
            }
        }
    }



    &__sort {
        padding: 10px 30px 5px 70px;
        border: 1px solid $input-border;
        border-top-right-radius: 3px;

        &-ul {
            @include flex($align: center);

            li {
                @include flex($justify: flex-end, $align: center);
                width: calc(100% / 7);

                span {
                    color: $loopex-green;
                    cursor: pointer;                 
                }

                &:nth-child(1),
                &:nth-child(2) {
                    justify-content: flex-start;
                }

                .sort {
                    @include flex($direction: column);
                    margin-left: 5px;

                    span {
                        line-height: 0.3;
                    }
                }

                &:hover {
                    span {
                        color: $loopex-green-hover;
                    }
                }
            }
        }
    }

    &__body {
        border: 1px solid $input-border;
        border-top: 0;
        height: 480px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        .main__image {
            width: 50%;
            margin: 0 auto;
            padding-top: 130px;
        }

        &-ul {
            display: flex;
            flex-direction: column;
        }

        &-li {
            width: calc(100% / 7);
            text-align: right;

            &:nth-child(1),
            &:nth-child(2) {
                text-align: left;
            }

            &:nth-child(1) {
                .icon-star-regular {
                    margin-right: 15px;
                    cursor: pointer;
                    position: absolute;
                    left: 20px;
                }
            }
        }

        &-main {
            display: flex;
            align-items: center;
            color: #cacaca;
            height: 32px;
            position: relative;
            padding-right: 30px;
            padding-left: 70px;
            border-bottom: 1px solid #192d38;
            cursor: pointer;

            &:hover {
                background: #070d10;
            }
        }
    }
}


.loopex__form-group.search__cont {
    width: 200px;
    margin-bottom: 0;

    .loopex__input {
        padding: 5px 12px;
        padding-right: 32px;

        &:focus {
            background: $input-bg;
        }
    }

    .icon-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 9px;
        cursor: pointer;
    }
}