.xlp__window {
    &.active {
        .loopex__header-a {
            color: $loopex-green;
        }

        .xlp__content {
            display: block;
        }
    }
}


.xlp__content {
    position: absolute;
    left: -50px;
    background: rgba(1, 1, 1, 0.76);
    display: none;

    &.active {
        display: block;
    }

    &-child {
        padding: 10px 20px;

        &--item {
            width: 450px;
            height: 35px;
            @include flex($justify: space-between, $align: center);

            .xlp__title {
                color: #fff;
            }

            .xlp__result {
                color: $loopex-green;
            }

            .about__xlp {
                color: $loopex-green;
            }
        }
    }
}