.loopex__form-group {
  position: relative;
  margin-bottom: 13px;

    .password__eye {
      @include position($top: 9px, $right: 10px);
      color: #757575;
      cursor: pointer;

      &.show {
        color: $loopex-green;
      }
    }

    .referalcode {
      display: none;

      &.active {
        display: block;
      }
    }

    .input__error {
      color: $loopex-error-color;
      font-size: 15px;
      margin-top: 3px;
      padding-left: 3px;
      line-height: 1.3;
      display: none;
    }

    .loopex__input {
        border: 1px solid $input-border;
        border-radius: 3px;
        padding: 7px 12px;
        font-size: 16px;
        width: 100%;
        background: $input-bg;
        color: $loopex-gray;
        font-family: $ubuntu;

        &:focus {
            background: $input-focus-color;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #757575;
            font-family: $ubuntu;
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #757575;
            font-family: $ubuntu;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: #757575;
            font-family: $ubuntu;
          }
    }
}