.loopex__tabcontent {
    .tablink__parent {
        display: flex;

        .loopex__tablink {
            width: 50%;
            text-align: center;
            color: #5E6C75;
            font-size: 21px;
            line-height: 1.5;
            padding-bottom: 10px;
            border-bottom: 3px solid #5E6C75;
            transition: all 0.3s;

            &.active,
            &:hover {
                color: #fff;
                border-bottom: 3px solid #fff;
            }
        }
    }

    .tabparent {
        margin-top: 60px;
    }
}