#security {
    .user__whitelist {
        width: 100%;
        border-radius: 3px;
        border: 1px solid $input-border;

        &-top {
            height: 32px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            background-color: $table-top-bg;
            border-bottom: 1px solid $input-border;

            h2 {
                color: $loopex-green;
                line-height: 1.3;
                width: 22%;
                text-align: center;

                &:nth-child(1){
                    width: 310px;
                }
            }
        }

        &-bottom {
            height: 177px;
            overflow-y: auto;

            .whitelist__info {
                padding: 5px 10px;
                border-bottom: 1px solid $input-border;

                .inf {
                    width: 22%;
                    text-align: center;
                    color: $loopex-gray;
                    float: left;

                    &:nth-child(1){
                        width: 310px;
                    }
                }

                .remove-and-add {
                    display: flex;

                    .tooltip {
                        height: 30px;
                        font-size: 14px;
                        right: 0;
                        top: 25px;
                        z-index: 10;

                        p {
                            white-space: nowrap;
                        }
                    }

                    .whitelist__icon {
                        font-size: 20px;
                        cursor: pointer;
                        position: relative;
                        @include flex($align: center);

                    

                        &:hover .tooltip {
                            @include show;
                        }
                    }

                    .add__whitelist {
                        margin-left: 10px;
                        color: $loopex-error-color;

                        &:hover {
                            color: red;
                        }

                        &:hover .tooltip {
                            @include show;
                        }
                    }

                    .remove__whitelist {
                        color: $loopex-green;

                        &:hover {
                            color: $loopex-green-hover;
                        }
                    }

                    .arrow__down {
                        margin-left: 10px;
                        cursor: pointer;

                        &:hover .arrow {
                            border: solid #fff;
                            border-width: 0 3px 3px 0;
                        }

                        .arrow {
                            border: solid #666666;
                            border-width: 0 3px 3px 0;
                            display: inline-block;
                            padding: 4px;
                            transform: rotate(45deg);
                            margin-bottom: 2px;
                            transition: all 0.3s;

                            &.rotate {
                                transform: rotate(225deg);
                            }
                        }
                    }
                }

                .whitelist__item {              
                    &:last-child {
                        margin-top: 10px;
                    }
                }

                &::after {
                    content: '';
                    clear: both;
                    display: block;
                }
            }
        }
    }

    .security__recomendation {
        cursor: pointer;
        position: relative;

        .recomendation__content {
            position: absolute;
            right: -364px;
            top: -40px;
            width: 345px;
            padding: 10px;
            border-radius: 3px;
            background: black;
            z-index: 5;
            @include hidden;
            transition: all 0.3s;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 42px;
                left: -14px;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 16px solid black;
                border-bottom: 10px solid transparent;
            }                     

            p {
                color: #fff;
                font-size: 12px;
                margin-bottom: 7px;
            }
        }

        &:hover .recomendation__content {
            @include show;
        }
    }
}

.last__login {
    height: 178px;

    .user__whitelist-top {
        h2 {
            width: 33.3333% !important;
        }
    }

    .user__whitelist-bottom {
        height: 147px !important;
        overflow-y: hidden !important;
    }

    .inf {
        width: 33.3333% !important;
    }
}

.whitelist__and__blacklist {
    .user__whitelist-top {
        h2 {
            width: 32% !important;
        }
    }
    .user__whitelist-bottom .whitelist__info .inf {
        width: 32% !important;
    }
}