.loopex__container {
    padding: 0 70px;
}

// base class
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end !important;
}

.align-items {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.hover-green:hover {
    color: $loopex-green-hover !important;
}

.loopex-green {
    color: $loopex-green;
}

.cursor-pointer {
    cursor: pointer;
}

.no-mr {
    margin-right: 0 !important;
}

.section__title {
    color: $loopex-green;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.wrapper {
    margin: 100px 150px 100px 150px;
    margin-bottom: 200px;
}

.account__wrapper {
    max-width: 1270px;
    width: 100%;
    margin: 100px auto 100px auto;
}

.small-scroll::-webkit-scrollbar {
    width: 7px;
}