.loopex__container {
    padding: 0 70px;
}

// base class
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-items {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.hover-green:hover {
    color: $loopex-green-hover !important;
}