// colors
$input-border: #324754;
$input-bg: #17262f;
$input-focus-color: #122028;


$loopex-green: #3a8980;
$loopex-green-hover: #75eadc;
$loopex-gray: #cacaca;
$loopex-error-color: #d51914;

$popups-bg: #122028;

$table-top-bg: #12191f;

// fonts
$ubuntu: 'ubuntu_allfont_ru';
$icomoon: 'icomoon';