/* @font-face {
    font-family: 'ubuntu_allfont_ru';
    src: url('./assets/fonts/ubuntu/ubuntu_allfont_ru.eot');
    src: url('./assets/fonts/ubuntu/ubuntu_allfont_ru.eot') format('embedded-opentype'), 
    url('./assets/fonts/ubuntu/ubuntu_allfont_ru.woff2') format('woff2'), 
    url('./assets/fonts/ubuntu/ubuntu_allfont_ru.woff') format('woff'), 
    url('./assets/fonts/ubuntu/ubuntu_allfont_ru.ttf') format('truetype'), 
    url('./assets/fonts/ubuntu/ubuntu_allfont_ru.svg#ubuntu_allfont_ru') format('svg');
    font-style: normal;
} */
